extends layout 

block content 
    h1 #{title}: #{bookinstance.book.title}
    p Summary: #{bookinstance.book.summary}
    p Status: #{bookinstance.status}
    p Imprint: #{bookinstance.imprint} 
    p Data: #{bookinstance.due_back}

    p Do you really want to delete this bookinstance?

    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete